#projects {
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid #e8e8e8;
}

#projects a {
    padding: 5px;
    border: 2px solid black;
    color: navy;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    display: inline;
}
#projects a:hover {
    background-color: #b8b8b8;
}

h3 {
    text-align: center;
}

.mirrorgroup {
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px;
}

.mirrorgroup img {
    height: 100px;
    width: auto;
    border-radius: 3px;
}

.flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.flex strong {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.flex div {
    flex: 1;
}

.content {
    max-width: 500px;
    margin: auto;
}